@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');
.playwrite{
    font-family: "Playwrite CU", cursive;
  }
  .inter{
    font-family: "Inter", sans-serif;
  }




*{
    margin: 0;
    margin-top: 1rem;
   
    
}


body{
    background-color:black;
    color: white;
}
.name{
    margin-left: 10rem;
    font-size: 2.25rem;
    color: #E6533C;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

   
   
    

.nav-option{
    
   margin-right: 10rem;
   gap: 3rem;
   display: flex;
   font-size: 1.5rem;
  
}

.nav-border{
    height: 46px;
    weight:600px;
  
}
.menu{
    display: none;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 10rem;
    
}
.text-container h1{
    font-size:4rem;
    width: 1000px;
   
}
.text-container p{
    color: rgba(255, 255, 255, 0.5);
}
.image-container{
    margin-right: 25rem;
}
.shape-text{
    font-weight: 100px;
}
.first-btn{
    height: 40px;
    width: 180px;
    background-color: #E6533C;
    border: 2px solid #E6533C ;
    border-radius: 20px;
    font-size: 1rem;
    margin-right: 20px;
    color: white;
    margin-top: 2rem;
}
.second-btn{
    height: 40px;
    width: 180px;
  background-color: black;
    border: 2px solid #ffffff ;
    border-radius: 20px;
    font-size: 1rem;
    margin-right: 20px;
    color: white;
}

.part-2-data{
    width: 82%;
    height:29rem;
    border: 2px solid red;
    margin-left: 10rem;
    display: flex;
   
}
.part-2-tittle{
    width: 100%;
    height:7rem;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 60px;
    }
.part-2-description{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.part-2{
    width: 82%;
    height: 20rem;
    
    margin-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.part-2-container{
    height: 20rem;
    width: 280px;
    
    margin-right: 2rem;
}
.container-img{
    width: 180px;
    height: 180px;
   text-align: center;
    margin-top: 26px;
    margin-left: 42px;
   
}
.round-img{
    border-radius: 50%;
    margin-top: 0;
}
.container-img h1{
    font-size: 1.5rem;
}
.container-img p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}